.welcome-card{
    background-color: var(--color-dark);
    border-radius: 60px;
    width: 50%;
    padding-bottom: 50px;
}

.upperBg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkblue);
    border-radius: 60px 60px 0 0;
    padding-top: 50px;
}
.middlefy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wavy-image{
    width: 100%;
    height: auto;
    position: relative;
    bottom: 50px;
}

.bigText{
    color: var(--color-green) !important;
}
.letsgoBtn{
    background: var(--color-blue);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 40px;
}

@media only screen and (max-width: 600px){
    .welcome-card {
        border-radius: 0 !important;
        width: 100%;
        height: inherit;
    }
    .wavy-image{
        bottom: 200px;
    }
        .upperBg{
            height: 30vh;
            border-radius: 0 !important;
        }
}