.setup-card {
    padding-top: 50px;
    min-height: 40%;
}

.segment {
    background: #6f00fff8;
    min-height: 50px;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.segment-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 8px 15px;
    border-radius: 20px;
}

input[type="checkbox"] {
    accent-color: rgba(111, 0, 255, 0.05) !important;
    width: 20px;
    height: 20px;
    }

.category-text{
    color: #99AFC1 !important;
}

.category-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(to right top, #ff0055, #00bfff, #ffe100);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-item{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(45, 21, 105, 0.5);
    padding-bottom: 10px;
}

.next-segment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
}

.next-segment-btn, .next-segment-btn:hover, .next-segment-btn:focus{
    background: rgba(50, 22, 124, 0.1);
    border: 1px solid rgba(45, 21, 105, 0.5);
    height: 40px;
    border-radius: 10px;
    color: #fff
}

.next-segment-btn:hover, .letsgobtn:hover{
    background: rgba(50, 22, 124, 0.5);
}

.letsgobtn, .letsgobtn:hover, .letsgobtn:focus{
    background: linear-gradient(90deg, #00bfff,#08001c);
    border: none;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    width: 100% !important;
}

.letsgobtn:hover{
    background: linear-gradient(90deg, #43c4ef,#1d0164);
}

.rule{
    display: block;
    color: #08001c !important;
    padding: 5px 0;
    border-bottom: 1px solid #d6d6d6;
}
