body {
  margin: 0;
  font-family:  'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --color-dark: #1F1147;
  --color-darkblue: #32167C;
  --color-violet: #361E70;
  --color-blue: #6949FD;
  --color-green:#38e9bb;
}