body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #08001c !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-dark: #08001c;
  --color-darkblue: #32167C;
  --color-violet: #361E70;
  --color-blue: #6949FD;
  --color-green: #38e9bb;
}


@media only screen and (max-width: 500px) {
  .fill-up {
    width: 100% !important;
    height: inherit;
    border-radius: 0 !important;
  }
}